nav.navigation {
  height: 120px;
  background-color: #FF9933;
  color: #404040;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  top: 0; 
}

.tweeterIcon {
  /* margin: 25%; */
  top: 45px;
  left: 40px;
  font-family: Bungee;
  font-size: xx-large;
  position: fixed;
}

div.writeATweet {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 3em;
  margin-right: 1.8em;
}


div.writeATweet > p {
  margin: 0;
}

.fa-angle-double-down {
  color: #F5F5F5;
  border: none;
  padding-bottom: 50px;
}

.bold {
  font-weight:bold;
}

@media (min-width: 1024px) {
  nav.navigation {
    background-color: #404040;
    color: #FF9933;
  }
}