main.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* section.margin */
section.margin {
  display: none;
}

/* section.validationError */
main section.validationError {
  padding: 1em;
  display: none;
}

i.fa-exclamation-triangle {
  color: red;
}

/* section.new-tweet */
main section.new-tweet {
  display: none;
  width: 90%;
}

textarea.tweet-text {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: solid;
  border-color: #404040;
  width: 100%;
  height: 1.5em;
  margin-top: 2%;
  margin-bottom: 2%;
  resize: none;
}

form div.tweet-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Bungee;
  margin-bottom: 10%;
}

button.post-button {
  border-radius: 15px;
  border: 0;
  outline: 0;
  padding-top: 0.8%;
  padding-bottom: 0.8%;
  background-color: #404040;
  color: #F5F5F5;
}

output.counter {
  font-weight: bold;
}

/* section.tweets */
section.tweets {
  width: 90%;
}

section.tweets div.account-name {
  display : none;
}

div.footer-buttons {
  display: none;
}

article.tweet {
  border: solid;
  border-color: #404040;
  padding: 2%;
  margin-bottom: 5%;
  border-radius: 15px;
}

article.tweet:hover {
  border-color: #FF9933;
  box-shadow: 10px 10px 0 0px #FFCC99;
}

article.tweet:hover div.account-name {
  display: block;
}

article.tweet:hover div.footer-buttons {
  display: block;
}

section.tweets header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
}

article.tweet p {
  margin-left: 6%;
  margin-right: 10px;
  width: 200px;
}

div.avatar-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.account-name {
  display : none;
}

div.account-name p {
  width: 180px;
}

article.tweet footer {
  font-size: small;
  display: flex;
  justify-content: space-between;
}

section.tweets footer button {
  color: #404040;
  padding: 0;
  border: none;
  background: none;
}

@media (min-width: 1024px) {
  main.container {
    width: 61.8%;
    justify-content: normal;
  }

  main section.margin {
    display: block;
    margin-top: 52px;
  }
}